
/* --------------------------------

xfilter

-------------------------------- */
.cd-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
  }
  .cd-filter::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #444444;
    z-index: 2;
  }
  .cd-filter form {
    padding: 70px 20px;
  }
  .cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #ffffff;
      text-align: center;
    background: #444444;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 3;
  }
  .no-touch .cd-filter .cd-close:hover {
    background: #666666;
  }
  .cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  }
  .cd-filter.filter-is-visible .cd-close {
    opacity: 1;
  }
  @media only screen and (min-width: 1170px) {
    .cd-filter form {
      padding: 70px 3%;
    }
  }
  
  .cd-filter-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: transparent url("https://entrusters.com/templates/yoo_moustache/html/com_entrusters_shop/products/ui-img/cd-icon-filter.svg") no-repeat center center;
    z-index: 3;
  }
  .cd-filter-trigger.filter-is-visible {
    pointer-events: none;
  }
  @media only screen and (min-width: 1170px) {
    .cd-filter-trigger {
      width: auto;
      left: 2%;
      text-indent: 0;
      color: #9a9a9a;
      text-transform: uppercase;
              padding-left: 24px;
      background-position: left center;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      transition: color 0.3s;
    }
    .no-touch .cd-filter-trigger:hover {
      color: #f03d6c;
    }
    .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
      color: #ffffff;
    }
  }
  
  /* --------------------------------
  
  xcustom form elements
  
  -------------------------------- */
  .cd-filter-block {
    margin-bottom: 1.6em;
  }
  .cd-filter-block h4 {
    /* filter block title */
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 0px 20px;
    font-size: 1rem;
    color: #9a9a9a;
    text-transform: uppercase;
        -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cd-filter-content{
    list-style-type: none;
  }
  .no-touch .cd-filter-block h4:hover {
    color: #f03d6c;
  }
  .cd-filter-block h4::before {
    /* arrow */
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url("https://entrusters.com/templates/yoo_moustache/html/com_entrusters_shop/products/ui-img/cd-icon-arrow.svg") no-repeat center center;
  }
  .cd-filter-block h4.closed::before {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }
  .cd-filter-block input, .cd-filter-block select,
  .cd-filter-block .radio-label::before,
  .cd-filter-block .checkbox-label::before {
    /* shared style for input elements */  border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
  }
  .cd-filter-block input[type='search'],
  .cd-filter-block input[type='text'],
  .cd-filter-block select {
    width: 100%;
    padding: .8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
  }
  .cd-filter-block input[type='search']:focus,
  .cd-filter-block input[type='text']:focus,
  .cd-filter-block select:focus {
    outline: none;
    background-color: #ffffff;
    border-color: #f03d6c;
  }
  .cd-filter-block input[type='search'] {
    /* custom style for the search element */
    border-color: transparent;
    background-color: #e6e6e6;
    /* prevent jump - ios devices */
    font-size: 1rem !important;
  }
  .cd-filter-block input[type='search']::-webkit-search-cancel-button {
    display: none;
  }
  .cd-filter-block .cd-select {
    /* select element wrapper */
    position: relative;
  }
  .cd-filter-block .cd-select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("https://entrusters.com/templates/yoo_moustache/html/com_entrusters_shop/products/ui-img/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none;
  }
  .cd-filter-block select {
    cursor: pointer;
  }
  .cd-filter-block select::-ms-expand {
    display: none;
  }
  .cd-filter-block .list li {
    position: relative;
    margin-bottom: .8em;
  }
  .cd-filter-block .list li:last-of-type {
    margin-bottom: 0;
  }
  .cd-filter-block input[type=radio],
  .cd-filter-block input[type=checkbox] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
  }
  .cd-filter-block .checkbox-label,
  .cd-filter-block .radio-label {
    padding-left: 24px;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
  .cd-filter-block .radio-label::before,
  .cd-filter-block .radio-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-filter-block .checkbox-label::before,
  .cd-filter-block .radio-label::before {
    width: 16px;
    height: 16px;
    left: 0;
  }
  .cd-filter-block .checkbox-label::after,
  .cd-filter-block .radio-label::after {
    /* check mark - hidden */
    display: none;
  }
  .cd-filter-block .checkbox-label::after {
    /* check mark style for check boxes */
    width: 16px;
    height: 16px;
    background: url("https://entrusters.com/templates/yoo_moustache/html/com_entrusters_shop/products/ui-img/cd-icon-check.svg") no-repeat center center;
  }
  .cd-filter-block .radio-label::before,
  .cd-filter-block .radio-label::after {
    border-radius: 50%;
  }
  .cd-filter-block .radio-label::after {
    /* check mark style for radio buttons */
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    left: 5px;
  }
  .cd-filter-block input[type=radio]:checked + label::before,
  .cd-filter-block input[type=checkbox]:checked + label::before {
    border-color: #f03d6c;
    background-color: #f03d6c;
  }
  .cd-filter-block input[type=radio]:checked + label::after,
  .cd-filter-block input[type=checkbox]:checked + label::after {
    display: block;
  }
  
  @-moz-document url-prefix() {
    /* hide custom arrow on Firefox - select element */
    .cd-filter-block .cd-select::after {
      display: none;
    }
  }